/* ming.css */
html {
	scroll-padding-top: 15%;
}

body {
background-color: #F0F8FF;
text-align: center;
font-family: "Helvetica", sans-serif;
margin:0;
color: #191970;
font-size: 20px;
}

img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
	margin-top: 50px;
}

li {
	list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #6495ED;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 40px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 25px;
  align-items: center;
}

.menu li:hover {
  background-color: #191970;
  border-radius: 5px;
}

.menu li {
  padding: 5px 14px;
}

nav button {
    padding: 5px 14px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size: 25px;

}

nav button:hover {
  background-color: #191970;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

section {
    margin-top: 5%; /* Adjust this margin to make content visible below the fixed header and navigation */
	text-align: justify;
	line-height: 2;
	padding: 0px 50px;
}

p {
	font-weight: 600;
	font-size: 1em;
}

h2 {
	font-size: 2em;
}

ul {
font-weight: 700;
}


aside {
    background-color: #6495ED;
    color: white;
    padding: 10px;
	margin-top: 50px;
}

aside button {
    padding: 8px 16px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

aside button:hover {
    background-color: #191970;
}

footer {
    background-color: #6495ED;
    color: white;
    padding: 10px;
	font-size: 0.7em;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	
	.logo {
	font-size: 1.5em;
	}
	
	p {
	font-size: 0.8em;
}

	h2 {
	font-size: 1.2em;
}
  
 .menu {
    display:none;
    position: relative;
    background-color:#6495ED;
    right: 0;
    left: 0;
    text-align: center;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#191970;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }
  
  nav button {
	    margin-top: 12px;
  }
	  
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
  
  img {
    max-width: 65%;
  }

	#Fees li {
		font-size: 0.8em;
	}
}
  




