/* ming.css */
body{
background-color: #F0F8FF;
text-align: center;
font-family: Arial, sans-serif;
margin:0
}
img {
    max-width: 45%;
    height: auto;
    display: block;
    margin: auto;
	margin-top: 175px;
}

nav h1 {
    margin: 0;
	/*z-index: 2; */
}

nav {
    display: flex;
    justify-content: space-evenly; /* or use 'space-between' for spacing at the ends */
    background-color: #6495ED; /* Optional: add a background color for better visibility */
    padding: 10px;
	color: white;
	position: fixed;
    width: calc(100% - 20px);
    top: 0; /* Adjust the top position based on the height of your header */
   /* z-index: 1;*/
	align-items: center;
	font-size: 20px;
}

	
nav a {color: white; /* Optional: styling for link text color */
text-decoration: none; /* Optional: remove default link underline */
padding: 5px 10px; /* Optional: add padding for better spacing */
flex-wrap: wrap;
font-size: 1em;
}

nav button {
    padding: 8px 16px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 1em;
}

nav button:hover {
    background-color: #191970;
}

@media screen and (max-width: 768px) {
	nav {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start of the column */
    }
	
    nav a {
        font-size: 0.8em; /* Adjust font size for smaller screens */
		margin-bottom: 5px;
    }
	
	nav button {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 480px) {
    nav a {
        font-size: 0.7em; /* Further adjust font size for even smaller screens */
    }
	nav button {
		font-size: 0.8em;
	}
}

section {
    margin-top: 50px; /* Adjust this margin to make content visible below the fixed header and navigation */
	text-align: justify;
	line-height: 2;
	padding: 0 50px;
}

aside {
    background-color: #6495ED;
    color: white;
    padding: 10px;
	margin-top: 50px;
}

aside button {
    padding: 8px 16px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

aside button:hover {
    background-color: #191970;
}

footer {
    background-color: #6495ED;
    color: white;
    padding: 10px;
	font-size: 9px;
}


